.container {
  max-width: 400px;
  margin: 50px auto;
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.success {
  color: green;
}
